@import url(https://fonts.googleapis.com/css?family=Pragati+Narrow);
@import url(https://fonts.googleapis.com/css?family=Rancho&effect=anaglyph);


*{
	margin:0;
	padding:0;
}

body{
	
	background-color: #AF600B;
	font-family: 'Pragati Narrow', sans-serif;}
header{
	display:flex;
	display: -webkit-flex;
	flex-direction:row;
	flex-wrap: wrap;
	color:white;
	align-items:center;
	background-color: #0B536E;
	border:2px solid goldenrod;
	height:50px;
	
}
a{
	text-decoration: none;
}
nav{
	float:none;
	background-color: #023143;
	color:white;
}
nav ul li{
	display:inline-block;
	min-width: 100px;
	color:white;
	padding-left: 10px;
}
.page-header {
	min-width: 400px;
	flex-grow:2;
	padding-bottom: 5px;
	height: 45px;
	color:white;
	font-family:'Rancho',sans-serif;



}
.page-header h1{
	font-size: 200%;
}
.page-header  a, .login a{
	color:white;

}
.login{
	display: -webkit-flex;
	display:flex;
	align-items: flex-start;
	flex-direction:column;
	flex-grow:1;
	min-width: 400px;
	font-size: 80%
	padding-right: 5px;
	height: 50px;
	
}
.head-msg{

	min-height:30px;
	padding-top: 5px; 
	padding-right: 10px;
	
}
.head-msg a{
	color:red;
}
.container{
	margin:0px;
	padding:0px;
	margin-left: 30px;
	margin-right: 30px;
	display:flex;
	display: -webkit-flex;
	justify-content:space-around;
	align-items: center;
	flex-wrap:wrap;
	background-color: white;
	min-height:50vh;
	
}

.advert{
	background-color: #E39948;
	width: 48%;
	height: 130px;
	animation:fadein 2s;
	border-radius: 3px;
	border:1px solid black;
	
}
.advert p{
	font-family: 
}
.page-header, .login, .head-msg{
	font-size:80%;
}



.page-header .login p, label, input[type="submit" ]{
	
	padding-right: 3px;
}


.message{
	background-color: #03435B;
	height: 1.5em;
	text-align: center;
	color:white;
}
.pnavigation{
	background-color: #31748E;
	height: 2em;
	text-align: center;
	
}
ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
    font-size: 80%
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: white;
    float: left;
    padding: 4px 8px;
    text-decoration: none;
}

ul.pagination li a.active {
    background-color: black;
    color: white;
}

ul.pagination li a:hover:not(.active) {background-color: blue;}
.currentp{
	text-decoration: underline;
}
.registre{
	display:block;
	border-radius: 5px;
	background-color: whitesmoke;
	width:300px;
	height: 12em;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
	padding:3px;
}
.registre:focus{
	border-color: blue;
}
.form-reg{
	display: inline-block;
	margin-left: 15px;
	color:blueviolet;
	font-size:80%;
}
.form-reg p label input{
	
	margin-left:10px;
	padding:3px;
}

.btn{
 display: inline-block;
 border: none;
 color: #FFF7F7;
 border-radius: 3px 3px 3px 3px;
 -webkit-border-radius: 3px 3px 3px 3px;
 -moz-border-radius: 3px 3px 3px 3px;
 width: auto;
 height: auto;
 text-align:center;
 font-size: 14px;
 padding:auto;
 box-shadow: inset 0 0px 1px 0 #9E692C,inset 0 -1px 0 0 #E3C852,inset 0 0 0 1px #FCE88D,0 2px 4px 0 #D4D4D4;
 -moz-box-shadow: inset 0 0px 1px 0 #9E692C,inset 0 -1px 0 0 #E3C852,inset 0 0 0 1px #FCE88D,0 2px 4px 0 #D4D4D4;
 -webkit-box-shadow: inset 0 0px 1px 0 #9E692C,inset 0 -1px 0 0 #E3C852,inset 0 0 0 1px #FCE88D,0 2px 4px 0 #D4D4D4;
 text-shadow: 0 1px 0 #FFFFFF;
 background-color: #FC7553;
}
.btn:hover, .btn:active{
 border: none;
 color: #705D07;
 box-shadow: inset 0 1px 0 0 #FFF6CE,inset 0 -1px 0 0 #E3C852,inset 0 0 0 1px #FCE88D;
 -moz-box-shadow: inset 0 1px 0 0 #FFF6CE,inset 0 -1px 0 0 #E3C852,inset 0 0 0 1px #FCE88D;
 -webkit-box-shadow: inset 0 1px 0 0 #FFF6CE,inset 0 -1px 0 0 #E3C852,inset 0 0 0 1px #FCE88D;
 background-color: #FCCBB5;
}


footer{
	text-align: center;
}
.adverts-table{

}
.users-table {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	-moz-border-radius-bottomleft:9px;
	-webkit-border-bottom-left-radius:9px;
	border-bottom-left-radius:9px;
	-moz-border-radius-bottomright:9px;
	-webkit-border-bottom-right-radius:9px;
	border-bottom-right-radius:9px;
	-moz-border-radius-topright:9px;
	-webkit-border-top-right-radius:9px;
	border-top-right-radius:9px;
	-moz-border-radius-topleft:9px;
	-webkit-border-top-left-radius:9px;
	border-top-left-radius:9px;
}
.users-table table{
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}
.users-table tr:last-child td:last-child {
	-moz-border-radius-bottomright:9px;
	-webkit-border-bottom-right-radius:9px;
	border-bottom-right-radius:9px;
}
.users-table table tr:first-child td:first-child {
	-moz-border-radius-topleft:9px;
	-webkit-border-top-left-radius:9px;
	border-top-left-radius:9px;
}
.users-table table tr:first-child td:last-child {
	-moz-border-radius-topright:9px;
	-webkit-border-top-right-radius:9px;
	border-top-right-radius:9px;
}
.users-table tr:last-child td:first-child{
	-moz-border-radius-bottomleft:9px;
	-webkit-border-bottom-left-radius:9px;
	border-bottom-left-radius:9px;
}
.users-table tr:hover td{
	background-color:#82c0ff;
	background:-o-linear-gradient(bottom, #82c0ff 5%, #56aaff 100%);	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #82c0ff), color-stop(1, #56aaff) );
	background:-moz-linear-gradient( center top, #82c0ff 5%, #56aaff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#82c0ff", endColorstr="#56aaff");	background: -o-linear-gradient(top,#82c0ff,56aaff);
}
.users-table tr:first-child td{
	background:-o-linear-gradient(bottom, #0069d3 5%, #007fff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0069d3), color-stop(1, #007fff) );
	background:-moz-linear-gradient( center top, #0069d3 5%, #007fff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#0069d3", endColorstr="#007fff");	background: -o-linear-gradient(top,#0069d3,007fff);
	background-color:#0069d3;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:18px;
	font-family:Comic Sans MS;
	font-weight:bold;
	color:#ffffff;
}
.users-table tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #0069d3 5%, #007fff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0069d3), color-stop(1, #007fff) );
	background:-moz-linear-gradient( center top, #0069d3 5%, #007fff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#0069d3", endColorstr="#007fff");	background: -o-linear-gradient(top,#0069d3,007fff);
	background-color:#0069d3;
}
.users-table tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.users-table tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}
.users-table td{
	background:-o-linear-gradient(bottom, #56aaff 5%, #82c0ff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #56aaff), color-stop(1, #82c0ff) ); 
	background:-moz-linear-gradient( center top, #56aaff 5%, #82c0ff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#56aaff", endColorstr="#82c0ff");	background: -o-linear-gradient(top,#56aaff,82c0ff);
	background-color:#56aaff;
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:12px;
	font-family:Comic Sans MS;
	font-weight:bold;
	color:#000000;
}
.users-table tr:last-child td{
	border-width:0px 1px 0px 0px;
}
.users-table tr td:last-child{
	border-width:0px 0px 1px 0px;
}
.users-table tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}

		
		.adverts-table{
			display: block;


			min-height: 4em;
			background-color:#ededed;

		}
		.adverts-table table  td  {
			text-align: center;
			border: 1px blue solid;
			border-spacing: 5px 5px;
			border-collapse:separate;
			min-width: 3em;
					}
		.adverts-table table  th{
			background-color:purple;
			color:white;
		}

		.bedit{
			background-image: url('img/edit.png');
			background-color:#ededed;
			width:34px;
			height: 34px;

			}
		.bedit:hover{
			background-color:#ccc;
		}

		.btrash{
			background-image: url('img/trash.png');
			background-color:#ededed;
			width:34px;
			height: 34px;
		}
		.btrash:hover{
			background-color:#ccc;
		}


@media (max-width: 820px) {
	header{
		height:100px;
		align-items:stretch;
	}
	.page-header, .login, .msg-header{
		display:flex;
		flex-grow:1;
		flex-direction:column;
	}
  
}
@media (max-width: 400px){
	nav ul li{
	display:block;
	min-width: 100px;

	}
	.advert{
		width: 100%;
	}
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
